body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: tahoma;
    letter-spacing: 3px;
    color: rgb(9, 161, 110);
}

img {
    display: flex;
    padding: 10px;
    max-height: 580px;
    max-width: 880px;

    
}
.main_frame{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.frame{
    max-width: 900px;
    max-height: 600px;
    border: 2px solid #853939;
    border-radius: 6px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
button{
    margin-top: 20px;
    background-origin: none;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(193, 136, 247);
}