body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

img {
    display: flex;
    padding: 10px;

    
}
.main_frame{
    align-items: center;
    justify-content: center;
    display: flex;

    flex-direction: column;
}
.frame{
    min-width: 900px;
    min-height: 600px;
    border: 2px solid #853939;
    border-radius: 6px;
    margin-top: 40px;
}
button{
    margin-top: 20px;
    background-origin: none;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(193, 136, 247);
}